body {
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;

  > div {
    height: 100%;
  }
}

.box, .row {
  height: 100%;
}

.room_list {
  height: 99%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.room_list::-webkit-scrollbar {
  display: none;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_container {
  display: flex;
  flex-direction: column;

  .title {
    height: 46px;
    padding: 0;
    margin: 20px 0 10px;
    display: inline-flex;
    align-items: center;

    h2 {
      padding-left: 10px;
      line-height: 46px;
    }
  }
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat_messages {
  height: 100%;
  overflow-y: scroll;
}

.login_form {
  padding: 12px;
}

a {
  color: #9FA8DA;

  &:visited {
    color: #9FA8DA;
  }
}
